extends ../../basis/layout

block content
    h1 Технология
    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/comm/en') Англоязычное сообщество
        article.panel-body
            | В этом разделе вы можете найти ссылки на основные сайты англоязычного Node.js сообщества - различные форумы,
            | блоги, новостные сайты и тому подобное.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/comm/ru') Русскоязычное сообщество
        article.panel-body
            | Этот раздел полностью аналогичен предыдущему, с одним лишь отличием - он посвящён русскоязычному сообществу.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/comm/events') События
        article.panel-body
            | В этом разделе публикуется информация о различных событиях, происходящих в Node.js сообществах и привязанных
            | ко времени. Выходы новых версий модулей и фреймворков, конференции, скандалы и аналогичные происшествия.