extends ../../basis/layout

block title
    mixin title('Документация')

block content
    h1 Документация
    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/docs/install') Установка
        article.panel-body
            | В этом разделе вы можете найти подробную инструкцию по установке Node.js на различные системы, использованию
            | бинарного варианта, компилированию из исходников, установке из репозиториев и другого.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/docs/api') API
        article.panel-body
            | Здесь располагается перевод на русский язык официальной документации по API Node.js.
            a(href='https://nodejs.org/api/')=' Официальная документация '
            | является наиболее полным и подробным описанием принципа работы Node.js и является обязательной к прочтению
            | любому профессиональному Node.js разработчику.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/docs/packages') Пакеты
        article.panel-body
            | В этом разделе собрана описание и документация по наиболее нужным npm пакетам - от небольших вспомогательных
            | модулей до тяжёлых фреймворков. Здесь вы наверняка найдёте что-нибудь нужное и полезное для себя. На данный
            | момент это самый большой раздел сайта.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/docs/tutorials') Туториалы
        article.panel-body
            | Здесь представлены туториалы по самым разным частям Node.js. Вы можете найти здесь инструкции по использованию
            | различных фреймворков, инструментов и модулей. Этот раздел будет крайне полезен для новичка, хотя даже опытный
            | разработчик найдёт здесь что-либо для себя.