extends ../../basis/layout

block content
    h1 Технология
    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/tech/books') Книги
        article.panel-body
            | В этом разделе перечислены все самые главные книги по Node.js, прочтение которых позволит вам глубже понять
            | все особенности этой технологии. Здесь представлены все когда-либо издававшиеся книги на русском языке, а также
            | наиболее интересная англоязычная литература.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/tech/links') Ссылки
        article.panel-body
            | В этом разделе представлены ссылки на наиболее интересные сайты по Node.js и смежным технологиям. Официальные
            | сайты, учебники, статьи, курсы, списки и многое другое вы сможете найти здесь. Обратите внимание - все ссылки,
            | связанные с Node.js сообществом расположены в разделе
            a(href='/comm')=' Сообщество'
            |.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/tech/tools') Инструменты
        article.panel-body
            | Если вам нужен какой-либо конкретный инструмент, но вы не можете выбрать - загляните сюда. В этом разделе представлены
            | обзорные статьи по различным инструментам. Каждая статья посвящена какой-либо отдельной теме, и в ней рассматриваются
            | наиболее удобные инструменты для решения этой задачи. Рассматриваемые темы могут быть самыми разными - от
            | фреймворков до редакторов.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/tech/article_node') Статьи по Node.js
        article.panel-body
            | Здесь представлены различные статьи, напрямую связанные с Node.js. Их тематика различна - это могут быть новости
            | разработки, решения определённой задачи, прогнозы развития Node.js, обзоры принципа работы определённых частей
            | этой платформы и многое другое.

    article.panel.panel-default
        article.panel-heading.cross_head
            a(href='/tech/article_other') Статьи по смежным технологиям
        article.panel-body
            | Этот раздел аналогичен предыдущему, но имеет одно отличие - он посвящён не Node.js, а связанным с ним технологиям.
            | Чистый JavaScript, диалекты JavaScript, MongoDB, Angular, React, различные фреймворки, библиотеки и многое другое.