extends ../basis/layout

block content
    article.accord_head Article
    article.accord_body Test

    article.accord_head
    article.accord_body

    article.accord_head
    article.accord_body

    article.accord_head
    article.accord_body

    article.accord_head
    article.accord_body

    article.accord_head
    article.accord_body

    article.accord_head
    article.accord_body