extends ../basis/layout

block content
    h1 Добро пожаловать на Node Center!
    p
        | Node Center — это главный русскоязычный сайт по Node.js. Здесь непрерывно собирается и публикуется вся самая важная
        | информация, связанная с этой технологией. Перевод официальной документации, туториалы, информация о свежих npm
        | модулях, полезные книги и статьи - всё это вы сможете найти на Node Center. Главная цель нашего сайта - помочь
        | в изучении Node.js и донести до вас самые свежие новости из мира этой замечательной технологии. Информация, размещённая
        | здесь будет полезна как новичку, делающему свои первые шаги в мире Node.js-программирования, так и опытному разработчику,
        | желающему узнать тонкости Node.js. Добро пожаловать!
    article.last_articles
        ul.list-group
            li.list-group-item.last_header Новые статьи
            - each note, i in notations
                li.list-group-item
                    a(href=note.addr)=note.name