extends layout

block panel
	- if(segment)
		- for(k in parts)
			- var addr = '/about/' + k
			a(href=addr)
				p=parts[k]

block content
	h1 О технологии
	p Здесь публикуются все найденные интересные статьи по Node.js и смежным технологиям. Учтите однако, что большинство этих статей носят субъективный характер, а потому не вынесены в документацию. Также, здесь вы можете прочитать различные статьи о новых технологиях, фреймворках, пакетах и прочем, что пока ещё не прошло проверку временем и не вынесено в документацию.
	ul
		- for(k in parts)
			- var addr = '/about/' + k
			a(href=addr)
				li=parts[k]