extends layout

block content
	h1 Сообщество
	p Разумеется, что такая мощная и востребованная технология как Node.js собрала вокруг себя огромное количество поклонников. На этой странице вы можете ознакомиться с кратким списком наиболее популярных Node.js сообществ. Внимание! Здесь только те сайты, которые посвящены прямому общению между программистами. Если вас интересуют различные сайты об изучении Node.js, то посетите раздел 
		b
			a(href="/docs/links") Полезные ссылки.
	table.links
		tr
			td
				a(href="https://vk.com/nodenews") https://vk.com/nodenews
			td группа ВКонтакте
		tr
			td
				a(href="http://vk.com/nodejs_dev_group") http://vk.com/nodejs_dev_group
			td ещё одна крупная группа по Node.js ВКонтакте
		tr
			td
				a(href="http://www.cyberforum.ru/nodejs/") http://www.cyberforum.ru/nodejs/
			td крупный русскоязычный форум
		tr
			td
				a(href="http://www.nodejsforums.com/") http://www.nodejsforums.com/
			td крупный англоязычный форум
		tr
			td
				a(href="http://javascript.ru/forum/node-js-io-js/") http://javascript.ru/forum/node-js-io-js/
			td ещё один русскоязычный форум
		tr
			td
				a(href="http://stackoverflow.com/questions/tagged/node.js/") http://stackoverflow.com/questions/tagged/node.js
			td вопросы и ответы по Node.js