extends layout

block panel
	- if(segment)
		- for(k in parts)
			- var addr = '/docs/' + k
			a(href=addr)
				p=parts[k]

block content
	h1 О документации
	p Node.js является сложной и многогранной технологией, использовать которую можно практически для любых целей. В этом разделе мы постарались собрать всю наиболее ценную информацию о принципах работы этой мощной технологии. Обратите внимание - здесь опубликована только сухая и проверенная документация. Если вас интересуют авторские статьи, размышления, обзоры новых фреймворков и прочее - то посетите раздел 
		a(href="/about") <b> О технологии</b>
		| .
	ul
		- for(k in parts)
			- var addr = '/docs/' + k
			a(href=addr)
				li=parts[k]