doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Node Center
        meta(name="robots",content="all")
        meta(name="description",content="Node-Center - это главный русскоязычный сайт, посвящённый Node.js. Здесь вы можете найти не только самые свежие новости, но и огромное количество переведённой на русский язык документации.")
        meta(name="keywords",content="Nodejs, node, javascript, server, сервер, express, mongo, mongodb, sails, уроки, учебник")
        script(src="/src/scripts/jquery.js")
        script(src="/src/scripts/bootstrap.min.js")
        script(src="/src/scripts/code.min.js")
        script(src="/src/scripts/main.js")
        link(rel="stylesheet" href="/src/styles/bootstrap.min.css")
        link(rel="stylesheet" href="/src/styles/code.min.css")
        link(rel="stylesheet" href="/src/styles/main.css")
        //- add mixins
        include mixins
    body
        section.header
            include ymc
            section.wrapper
                figure.logo
                    img(src='/src/img/main/logo.png' alt='logo')
                article.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.main_nav
                            a(href="/") Главная
                        li
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Документация
                            ul.dropdown-menu
                                li
                                    a(href='/docs/install') Установка
                                li
                                    a(href='/docs/api') API
                                li
                                    a(href='/docs/packages') Пакеты
                                li
                                    a(href='/docs/tutorials') Туториалы
                        li
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Технология
                            ul.dropdown-menu
                                li
                                    a(href='/tech/books') Книги
                                li
                                    a(href='/tech/links') Ссылки
                                li
                                    a(href='/tech/tools') Инструменты
                                li
                                    a(href='/tech/article_node') Статьи
                                li
                                    a(href='/tech/article_other') Смежные темы
                        li
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Сообщество
                            ul.dropdown-menu
                                li
                                    a(href='/comm/en') Англоязычное
                                li
                                    a(href='/comm/ru') Русскоязычное
                                li
                                    a(href='/comm/events') События
                        li
                            a(href="/about") О сайте
        section.content
            section.wrapper
                block content