.wrapper {
    width: 940px;
    margin: 0 auto;
}

/* main menu */
.logo img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main_nav {
    font-weight: bold;
}
.navbar-collapse {
    background: #223142;
}
.navbar-collapse ul {
    float: none;
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
}
.dropdown-menu > li > a {
    font-size: 18px;
    color: #70cf36;
}

/* main content */
.text_block {
    white-space: pre-wrap;
}
.code {
    border: 1px solid #6ABD28;
    padding: 5px;
    background: #223142;
    width: 90%;
    margin: 10px auto;
}

.page-switch {
    margin-top: 10px;
    margin-bottom: 10px;
}
.read {
    position: absolute;
    bottom: 10px;
    right: 0;
    background: #6ABD28;
}
.read:hover {
    background: #458925;
}

.package_cover {
    padding-bottom: 65px;
    border-bottom: 1px solid black;
    position: relative;
}
.cover_text {
    font-size: 16px;
}

/* books */
.book {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
.book_cover {
    max-width: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* admin panel */
.accord_body {
    display: none;
    margin-bottom: 10px;
}
.accord_head {
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}
.accord_body, .accord_head {
    border: 1px solid #6ABD28;
    padding: 5px;
}

/* other */
a {
    outline: none !important;
}
.list-group-item a {
    color: #70cf36;
}
.alert-success {
    background: #223142;
}
.tags_panel {
    margin-top: 20px;
}
.clearfix {
    clear: both;
}