extends layout

block content
	h1 Обратная связь
	article.front
		p Если вы желаете добавить на сайт статью, информацию о пакете или что-то другое, либо вам необходимо связаться с администрацией по другим причинам, то напишите на почту 
			b node.center.ru@gmail.com 
			| и вам ответят в ближайшее время.