extends layout

block content
	h1 Загрузка
	p Для использования Node.js на сервере или рабочей станции необходимо предварительно установить его. На сегодняшний день существуют версии для Windows, Mac OS X, Linux, SunOS. Также присутствует возможность скачать исходные коды и произвести компиляцию под любую операционную систему. Наиболее часто Node.js используется на различных дистрибутивах Linux. Здесь вы можете скачать последюю версию Node.js для любой платформы. Если вас интересуют старые версии Node.js, скачать их вы можете 
		a(href='https://nodejs.org/download/') <b>здесь</b>.
	a(href='https://nodejs.org/dist/latest/')
		article.front-button ЗАГРУЗИТЬ
	p Нельзя забывать и про 
		a(href="https://iojs.org/ru/index.html") <b>IO.JS</b>
		| , являющейся наиболее распространённой программной платформой на основе Node.js. Она развивается параллельно с Node.js, не только перенимая всё самое лучшее, но и добавляя своё. Здесь вы можете скачать самую свежую версию IO.JS для вашей операционной системы.
	a(href='https://iojs.org/dist/latest/')
		article.front-button ЗАГРУЗИТЬ