extends layout

block content
	h1 Ошибка 404
	p Запрошенная вами страница не существует на сервере. Скорее всего, вы ошиблись в наборе адреса. Попробуйте перейти на любую другую страницу и найти нужную вам информацию там.