extends layout

block content
	h1 Добро пожаловать на главный русскоязычный сайт Node.js!
	article.front
		p <b>Node.js</b> — это программная платформа, основанная на движке V8, которая идеально подходит для создания быстрых и масштабируемых web-приложений. Node.js использует лаконичный и удобный JavaScript-синтаксис, который позволяет без труда создавать даже самые сложные и большие приложения. В основе Node.js лежит событийно-ориентированное и асинхронное программирование с неблокирующим вводом/выводом. Официальный установщик пакетов <b>NPM</b> содержит колоссальное количество разнообразных пакетов, благодаря чему программисту не нужно каждый раз писать всё с нуля - достаточно найти и скачать подходящий пакет. В настоящее время Node.js становится всё популярнее и популярнее. Такие крупные компании как Yahoo, HP, Walmart и другие используют Node.js в своей работе. Кроме того, благодаря выходу <b>NW.js</b> и <b>NativeScript</b> стало возможным использование Node.js не только на сервере, но и на десктопах, а также всех популярных мобильных операционных системах.
	a(href='/download')
		article.front-button УСТАНОВИТЬ
	h1 Пример: запуск web-сервера
	article.example
		p Создание и запуск веб-сервера, который бы принимал запросы от пользователей и возвращал им ответ является важнейшей, но при этом довольно сложной задачей в большинстве языков. Но только не в Node.js! Здесь простой, но полностью рабочий сервер можно написать всего в пять строк. Вот пример:
		pre.
			var http = require('http');
			http.createServer(function (req, res) {
			  res.writeHead(200, {'Content-Type': 'text/plain'});
			  res.end('Hello World');
			}).listen(80, 'nodejs.org');
		p Теперь при посещении домена <b>nodejs.org</b> вы будете видеть на экране сообщение "Hello World". Разумеется, это сработает только если этот домен принадлежит вам, но вы можете заменить адрес в примере любым другим и убедиться в его работоспособности. А теперь давайте подробнее разберёмся в коде.
		p Первая строка подключает пакет <b>http</b>, который позволяет использовать одноимённый протокол для передачи данных между клиентом и сервером. Вторая строка запускает сервер на основе модуля и передаёт ему функцию, которая будет осуществлять обработку запросов. Третья строка передаёт клиенту хедер ответа: код и тип данных. Код ответа сервера 200 означает успешное выполнение запроса. Четвёртая строка завершает ответ передачей клиенту строки 'Hello World'. И наконец пятая строка указывает адрес, который будет прослушивать сервер. Это восьмидесятый (основной) порт и домен. Всё не так сложно, не правда ли? Но наверняка у вас ещё остались вопросы. Более подробную инструкцию по основам работы Node.js вы можете прочитать у нас на сайте в разделе с документацией.
		a(href='/docs')
			article.front-button ДОКУМЕНТАЦИЯ