extends ../../basis/layout

block content
    h1 Статьи по Node.js
    a(href='/tech/article_node/list').btn.btn-default.page-switch Список
    mixin article_node_page(packs)
    mixin navigate(addr, count, num)