extends ../../basis/layout

block title
    mixin title('Книги')

block content
    ul.breadcrumb
        li
            a(href='/tech/') Технология
        li Книги
    h1 Книги по Node.js
    h2 На русском
    - each book, i in books_ru
        mixin book(book)
    h2 На английском
    - each book, i in books_en
        mixin book(book)