extends ../../basis/layout

block title
    mixin title(pack.title)

block content
    ul.breadcrumb
        li
            a(href='/comm/') Сообщество
        li
            a(href='/comm/events/') События
        li=pack.title
    mixin event(pack)