extends ../../basis/layout

block title
    mixin title(pack.title)

block content
    ul.breadcrumb
        li
            a(href='/docs/') Документация
        li
            a(href='/docs/api/') Документация по API
        li=pack.title
    mixin module(pack)