extends ../../basis/layout

block content
    ul.breadcrumb
        li
            a(href='/docs/') Документация
        li
            a(href='/docs/packages/') Пакеты и модули
        li=pack.title
    mixin package(pack)