extends ../../basis/layout

block title
    mixin title(pack.title)

block content
    ul.breadcrumb
        li
            a(href='/tech/') Технология
        li
            a(href='/tech/tools/') Инструменты
        li=pack.title
    mixin tool(pack)